
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
​
body {
    line-height:1;
}
​
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
​
nav ul {
    list-style:none;
}
​
blockquote, q {
    quotes:none;
}
​
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
​
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
​
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
​
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
​
del {
    text-decoration: line-through;
}
​
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
​
table {
    border-collapse:collapse;
    border-spacing:0;
}
​
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
​
input, select {
    vertical-align:middle;
}

/* riset */
header	{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-left h1{
  color: #47B39D;
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  margin: 0px;
}

.header-left a{
  text-decoration: none;
}


.header-right ul{
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.header-right a{
  text-decoration: none;
  color: #515151;
}

.header-right a:hover{
  text-decoration: underline solid #47B39D;
}

.header-right li{
  padding-left: 35px;
}

/* メインビジュアル */
.mv{
  background-image: url(shinyashopimg/forest.jpg);
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 250px;
}

.mv-with{
  width: 1000px;
  margin: 0 auto;
}

.mv-title{
  text-align: center;
  margin: 0px;
  font-family: 'Sacramento', cursive;
  font-size: 44px;
  color: #fff;
}

/* 制作実績 */
.content{
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.content-title{
  font-size: 50px;
  color: #515151;
  font-weight: 100;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Sacramento', cursive;
}

.work-more {
  padding-top: 40px;
  position: relative;
}

.work-list_catalog a{
  text-decoration: none;
  background-color: #47B39D;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid #47B39D;
}

.work-more a::after{
  content: "";
    display: block;
    background-image: url(shinyashopimg/yazirusi.png);
    background-size: cover;
    position: absolute;
    bottom: 25px;
    right: 60px;
    height: 10px;
    width: 10px;
    margin: 0px;
}

.work-list img{
  width: 250px;
  height: 200px;
}

.work-list{
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.work-list_catalog{
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
}

.work-list_title{
  padding-top: 10px;
  padding-bottom: 15px;
}

/* about */
.about-all{
  display: flex;
  justify-content: space-between;
}

#abouter{
  background-color: #F6F6F6;
}

.about-flex{
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.about-selfintroduction{
padding-right: 10px;
}

.about-selfintroduction_one{
  padding-bottom: 75px;
}

/* スキル */

.skill-selfintroduction{
padding-top: 10px;
padding-bottom: 20px;
}
.work-content{
display: flex;
justify-content: space-around;
}

/* contact */
.contact-content{
  text-align: center;
}

#contacter{
  background-color: #F6F6F6;
}

#content p{
  padding-left: 40px;
}

/* btn */
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-left: auto;
    text-align: center;
    background-color: #47b39d;
    transform: rotate(0.75turn);
  }
  .btn{
    background-color: #F6F6F6;
  }

/* フッター */
footer{
  background-color: #98B8B4;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-with{
  width: 1200px;
  margin: 0 auto;
}

.footer-menu ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-menu a{
  text-decoration: none;
  color: #515151;
}

.footer-menu a:hover{
  text-decoration: underline solid #47B39D;
}

.footer-menu li{
  padding-left: 35px;
}

/* 投稿ページ */
.article-content{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.page-title{
  font-size: 50px;
  color: #515151;
  font-weight: 100;
  text-align: center;
  padding-bottom: 40px;
}

.has-text-align-left{
  margin-left: 305px;
}

/* お問い合わせフォーム */
.form{
  background-color: #212529;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.form-with{
  width: 1000px;
  margin: 0 auto;
}

.form p{
  margin: 0px;
  color: #fff;
}

input,
textarea{
  width: 70%;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;
}

.contact-form_btn a{
  color: #fff;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
background-color:  #47b39d;
border: 1px solid  #47b39d;
border-radius: 5px;
text-decoration: none;
}


input.wpcf7-submit:hover{
}

.wpcf7-response-output{

}


/* 投稿 */

.wp-block-buttons{
  text-align: center;
}

.wp-block-button__link{
  background-color:  #47B39D;
}


#container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
/* sidber */
#menu ul{
  padding: 0px;
  list-style: none;
  width: 200px;
}

#menu a{
  text-decoration: none;
  color: #fff;
}

#menu li{
  background-color: #515151;
  border: 1px solid #fff;
  padding: 10px;
}

#menu h1{
  border-left: solid 10px #47B39D;
  padding-left: 10px;
  font-family: 'Sacramento', cursive;
}

.wp-block-image img{
  border: 1px solid  #aaaaaa;
  box-shadow: 1px 1px 3px #aaaaaa;
  border-radius: 5px;
}

}
article{
  width: 960px;
}




/*レスポンス */
@media screen and (max-width: 1023px){
  /* header */
  header{
    width: 100%;
    box-sizing: border-box;
  }
  .header-right{

  }
  .header-left h1{
    font-size: 25px;
    padding-left: 20px;
  }
/* mv */
  .mv-with{
    width: 100%;
  }
  /* content */
  .content{
    width: 100%;
  }

/* about */
.about-all{
display: block;
}
.about-contact{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.about-img{
  padding: 20px;
}
.about-img img{
  width: 100%;
}

.about-selfintroduction_one{
  padding-bottom: 0px;
}

.about-flex{
  display: block;
}

.work-performance_img img{
  width: 100%;
  height: 100%;
}
.work-performance_img{
  padding-left: 20px;
  padding-right: 20px;
}
.work-text{
  padding-left: 20px;
}

.work-more a{
  width: 100%;
}

.work-more{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.work-list{
  display: block;
}
/* skill*/
.work-content{
display: block;
}
.skill-img img{
  width: 100%;
}
.skill-img{
  padding: 20px;
}
.skill-text{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.skill-selfintroduction{
padding-top: 10px;
padding-bottom: 20px;
}
/* footer */
.footer-with{
width: 100%;
}
.footer-menu ul{
  display: block;
  text-align: center;
}
.footer-menu li{
border-bottom: 1px solid #515151;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 0px;
}
footer{
padding-top: 0px;
}
/* contact */
.article-content{
  width: 100%;
}

/* kontact */
input.wpcf7-submit{
  width: 95%;
}

/* 一覧 */
.content-title{
  width: 100%;
}

#container{
  width: 100%;
  display: block;
}

.wp-block-image img{
  width: 100%;
  height: 100%;
}



/* sidber */
.widgettitle {

}

#menu ul{
  width: 95%;
  margin: 0 auto;
  padding-bottom: 35px;
  text-align: center;
}

#content p{
  padding-right: 40px;
}




/* ハンバーガー */
.nav-btn{
  display: block;
  width: 50px;
  height: 50px;
position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

a.nav-btn.active{
  position: fixed;
}

.nav-btn div{
  height: 1px;
  width: 50%;
  background-color: #47B39D;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.nav-btn div:nth-of-type(1){
  transform: translate(-50%, -10px);
}

.nav-btn div:nth-of-type(3){
  transform: translate(-50%, 10px);
  }

a.nav-btn.active div:nth-of-type(1){
    transform: rotate(45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
  }

a.nav-btn.active div:nth-of-type(2){
    opacity: 0;
    }

a.nav-btn.active div:nth-of-type(3){
      transform: rotate(-45deg) translate(-50%, 0);
      transform-origin: 0% 50%;
    }
nav{
      opacity: 0;
      visibility: hidden;
      transition: 0.8s;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #fff;
      width: 100%;
      height: 100%;
    }

nav.open{
      opacity: 1;
      visibility: visible;
      transition: 0.8s;
    }

nav ul{
  height: 100%;
  width: 100%;
  display: block!important;
  padding-top: 50px!important;
}

.header-right li{
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 0;
  border-bottom: 1px solid #555;
}

}

@media screen and (min-width: 1024px){

}
